
@keyframes fade  { 
    0% { background-position: 50% 0%; }
    50%{ background-position: 50% 100%; }
    100% { background-position: 50% 0%; }
}

@keyframes rightX {
  0%{  transform: translateX(0px); }
  100%{  transform: translateX(50px); }
}

@keyframes leftX {
  0%{  transform: translateX(0px); }
  100%{  transform: translateX(-50px); }
}


html {
    background: linear-gradient(180deg, blue, red);
    background-size: 600% 600%;
    height: 100%;
    animation: fade 15s linear alternate infinite;
}


svg {
    position: fixed;
    left: 0;
    top: 2%;
    margin:0% 0% 0% 2%;
    width: 97%;
    height: inherit;
}

svg .right {
    animation: rightX 50s linear alternate infinite;
}

svg .left {
    animation: leftX 70s linear alternate infinite;
}

svg .question {
    letter-spacing: -6px;
    line-height: 1;
    font-size: 700%;
    font-weight: 300;
    font-family: 'Ultra', serif;
}

svg #base {
    fill: rgb(0,0,0);
    mask: url(#mask);
}


#questionsContainer {
    height: 100%;
    width: 97%;
}

#answersContainer {
    position: absolute;
    top: 3%;
    left: 1%;
    width: 70%;
    height: 100%;
    line-height: 100%;
}

#countdownContainer {
    position: relative;
    float: right;
    width: 40%;

}

#countdownTimer {
    margin: -36% 0 0 -19%;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 41em;
}

#message {
  display: none;
  position: fixed;
  top: 19%;
  left: -2px;
  width: 102%;
  height: 50%;
  background-color: black;
  color: white;
  z-index: 10;
  text-align: center;
}


#title {
    display: block;
    text-align: center;
    width: 100%;
    left: 0%;
    top:  22%;
    font-size: 3em;
    font-family: 'Rubik Mono One', sans-serif;
    position: relative;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 6em;
}

#subtitle {
    display: block;
    text-align: center;
    width: 100%;
    left: 0%;
    top:  35%;
    font-size: 3em;
    font-family: 'Rubik Mono One', sans-serif;
    position: relative;
}

#subsubtitle {
    display: block;
    text-align: center;
    width: 100%;
    left: 0%;
    top:  45%;
    font-size: 2em;
    font-family: 'Rubik Mono One', sans-serif;
    position: relative;
}

.run-animation {
    animation: fade 15s linear alternate infinite;

}

.pause-animation {
  animation-play-state: paused;
}

.text{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.numbers {
    visibility: hidden;
    font-size: 400%;
    font-family: 'Open Sans', sans-serif;
}

.answers {
    margin: 0% 0% 0% 0%;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

.answers:hover {
    color: white;
}


footer {
    position: fixed;
    bottom: 0;
    left: 2%;
    height: 40%;
    width: 97%;
}







